<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Express</title>
</head>
<body>
    <h1>7 Wonders of the World</h1>
    <ul>
        <% landmarks.forEach(function(t) { %>
            <li>
              <%= t.landmark %>
                - 
              <%= t.done ? 'One of the 7 Wonders!' : 'Not a Wonder of the World ' %>
            </li>
          <% }); %>
    </ul>
</body>
</html>
