<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmarks</title>
</head>
<body>
    
    
    <h1><%= landmarks.landmarks %></h1>
    <h3>Is this a 7 World Wonder? : <%= landmarks.done ? 'Yes' : 'No' %></h3>
    


    <a href="/landmarks">Landmarks List</a>

    <a href="/landmarks/<%= landmarks.id %>/edit"> Edit Text</a>
      

</body>
</html>